{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Django App</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="bg-gray-100 max-w-7xl mx-auto">
    <h1>Test Page</h1>
    <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
        Solid
    </button>
    <script src="./node_modules/preline/dist/preline.js"></script>
</body>
</html>
